.cache
dist
node_modules
node

/vendor
/wp
wp-config.php

/wp-content/*
!/wp-content/
/wp-content/themes/*
!/wp-content/themes/
!/wp-content/themes/maillesnam

/wp-content/plugins/*
!/wp-content/plugins/
!/wp-content/plugins/maillesnam