.article {
    border-bottom: 1px solid $c-blue-green;

    h1 {
        text-align: center;
        margin-bottom: $gutter-double;
    }

    figure {
        margin-bottom: $gutter-double;
    }
   

    img {
        padding: $gutter-half;
        width: 100%;
        height: auto;
    }

    figcaption {
        text-align: center;
    }

    &__container {
        display: flex;
    }
}