.tutoriel__card {
    background-image: url('~/../images/tutoriel.png');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;

        &--text {
            background-color: #ffffff;
            opacity: 0.8;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2.5;

            h2, p {
                text-align: center;
                color: $c-blue;

                a {
                    color: $c-blue;
                }
            }

            p {
                @include medium {
                    font-size: 1.6rem;
                }
            }
        }

        &--link {
            text-align: center;
        }
}